<%=render 'layouts/public'%>

<div class="container">
<div class="row d-flex justify-content-center">

    <div class="col-11 col-md-8 py-5 bg-light bg-circle mt-5">
        <h1 class="text-center">支出の入力</h1>

        <%=render 'public/shared/flash'%>

        <%=form_with model: @spend, url: spends_path, class: "row justify-content-center" do |f|%>
            <div class="field mb-4 col-10">
                <%= f.label :money, "支出額", class: "pb-1" %><br />
                <%= f.number_field :money, autocomplete: "money", class: "form-control" %>
            </div>
            <div class="field mb-4 col-10">
                <%= f.label :spend_genre_id, "支出の項目", class: "pb-1" %>　　<%=link_to "項目の追加", new_spend_genre_path%><br />
                <%= f.collection_select :spend_genre_id, current_user.spend_genres.all, :id, :name, {}, {class: 'form-select'} %>
            </div>
            <div class="field mb-4 col-10">
                <%= f.label :comment, "メモ", class: "pb-1" %><br />
                <%= f.text_area :comment , class: "form-control", rows: 5 %>
            </div>

            <div class="actions mb-4 text-center">
                <%=f.submit "登録する", class: "btn btn-dark col-10"%>
            </div>
        <%end%>
    </div>

</div>
</div>