<%=render 'layouts/public'%>
    
<div class="w-100 h-500 bg-pic-com d-flex justify-content-center align-items-center" id="top-bg-first">
    <div class="h-150 mx-2 mx-sm-0">
        <h1 class="big-topTitle text-light" id="title-slow">貯金をもっと簡単に</h1>
        <p class="pt-1 text-light">Peculissを使って、貯金を簡単に楽しく管理しましょう。</p>
        <%=link_to "今すぐ始める", mypage_path, class: "btn btn-light ms-md-4 pt-1"%>
    </div>
</div>

<div class="w-100 h-md-700 d-flex justify-content-center align-items-center mt-5 mt-md-0">
    <div class="container h-md-400">
        <div class="row d-flex justify-content-center">
            <h1 class="text-center text-light">お金の浪費を今すぐに減らせる<br>貯金が簡単にできる<br>そんなアプリを今すぐ試してみませんか？</h1>
            <div class="col-md-3 me-2 mt-md-0 mt-2 mt-md-5">
                <div class="text-center"><i class="fa-solid fa-2xl fa-circle-check" style="color: #f1f614;"></i></div>
                <h3 class="text-center text-light pt-3">日常のお金を簡単に管理</h3>
                <p class="text-center text-light  pt-2">収支を入力すれば自動で管理します！</p>
            </div>
            <div class="col-md-3 me-2 mt-md-0 mt-3 mt-md-5">
                <div class="text-center"><i class="fa-solid fa-2xl fa-circle-check" style="color: #f1f614;"></i></div>
                <h3 class="text-center text-light pt-3">貯金と支出の一括管理</h3>
                <p class="text-center text-light pt-2">効率的な貯金をサポートします</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 mt-md-5">
                <div class="text-center"><i class="fa-solid fa-2xl fa-circle-check" style="color: #f1f614;"></i></div>
                <h3 class="text-center text-light  pt-3">家計簿アプリだと継続ができない</h3>
                <p class="text-center text-light pt-2">hogehogehogehogehoge</p>
            </div>
        </div>
    </div>
</div>

<div class="w-100 h-md-500 d-flex justify-content-center align-items-center">
    <div class="container h-md-300">
    <div class="row">
        <div class="col-md-6 mt-5 mt-md-0">
            <%=image_tag 'iphone12.jpg', class: "top-picSize"%>
        </div>
        <div class="col-md-6 mt-md-0 mt-3 text-light">
            <h3 class="text-center pt-lg-5 fs-40px fs-lg-60px">今を大切に</h3>
            <p class="text-center fs-5 pt-3">１つのアプリで<br>数分間を貴重な一瞬へ</p>
        </div>
    </div>        
    </div>
</div>

<div class="w-100 bg-pic-ai-office h-md-700 mt-5 mt-md-0">
    <div class="w-100 h-md-700 py-3 bg-trans-black d-flex justify-content-center align-items-center">
        <div class="container h-md-300">
            <div class="row d-flex justify-content-center">
                <h3 class="text-light text-center">アプリの特徴</h3>
                <p class="text-light pt-1 text-center">手頃なアプリの独自の機能や使い方、競合サービスとの比較</p>

                <div class="col-md-4 mt-3">
                    <h3 class="text-light text-center">機能</h3>
                    <p class="text-center text-light">hoge</p>
                    <p class="text-center text-light">hoge</p>
                    <p class="text-center text-light">hoge</p>
                    <span class="pt-3"><%=link_to "詳しく", about_path, class: "btn btn-light col-10 offset-1"%></span>
                </div>
                <div class="col-md-4 mt-3">
                    <h3 class="text-light text-center">使い方</h3>
                    <p class="text-center text-light">hoge</p>
                    <p class="text-center text-light">hoge</p>
                    <p class="text-center text-light">hoge</p>
                    <span class="pt-3"><%=link_to "詳しく", about_path, class: "btn btn-light col-10 offset-1"%></span>
                </div>
                <div class="col-md-4 mt-3">
                    <h3 class="text-light text-center">競合サービス</h3>
                    <p class="text-center text-light">hoge</p>
                    <p class="text-center text-light">hoge</p>
                    <p class="text-center text-light">hoge</p>
                    <span class="pt-3"><%=link_to "詳しく", about_path, class: "text-center btn btn-light col-10 offset-1"%></span>   
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="w-100 h-md-700 d-flex justify-content-center align-items-center mt-5 mt-md-0">
    <div class="container h-md-300">
        <div class="row">
            <div class="text-center col-md-6">
                <%=image_tag 'keiba.jpg', class: "top-picSize"%>
            </div>
            <div class="col-md-6 mt-md-0 mt-4 pt-lg-5">
                <h3 class="text-center text-light pt-lg-5 fs-40px fs-lg-60px">1円1円を大切に</h3>
                <p class="text-center text-light fs-5 pt-3">貯金で人生を豊かに</p>
                <span class="pt-3"><%=link_to "新規登録", new_user_registration_path, class: "text-center btn btn-light col-6 offset-3"%></span>
            </div>
        </div>        
    </div>
</div>

<div class="w-100 h-md-700 d-flex justify-content-center align-items-center mt-5 mt-md-0">
    <div class="container h-md-300">
    <div class="row">
        <div class="text-center col-md-6">
            <%=image_tag 'keiba.jpg', class: "top-picSize"%>
        </div>
        <div class="col-md-6 mt-4 mt-md-0 text-light">
            <h3 class="text-center pt-lg-5">お問い合わせに関して</h3>
            <p class="text-center pt-3">時間帯によってはすぐに対応できない場合がございます。</p>
            <div class="mt-3 text-center">
                <p class="">メールアドレス：hoge@gmail.com</p>
                <p class="">電話番号：hoge-hoge</p>
            </div>
            <div class="mt-2 text-center">
                <span class="fs-4"><i class="bi bi-facebook"></i></span>
                <span class="ps-3 fs-4"><i class="bi bi-instagram"></i></span>
            </div>
        </div>
    </div>        
    </div>
</div>

<script>
$(function(){
    $("body").removeClass('bg-secondary')
    $("body").addClass('bg-black')
});
</script>