<%=render 'layouts/public'%>
<div class="container">
<div class="row justify-content-center bg-light bg-circle">
    <div class="col-lg-10 mx-lg-0 mx-1">
      <h1 class="text-center">パスワードの再設定</h1>

      <%= form_with model: @user, url: user_password_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field mb-4 col-10 offset-1">
          <%= f.label "登録済みのメールアドレス", class: "pb-2 ps-2" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="actions mb-4 text-center">
          <%= f.submit "パスワード再設定用リンクを送信する", class: "btn btn-success col-5" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>
    </div>
</div>
</div>
