<%=render 'layouts/public'%>
<div class="container">
<div class="row justify-content-center bg-light bg-circle">
    <div class="col-lg-10 mx-lg-0 mx-1">
      <h1 class="text-center">マイページ</h1>

        <div class="row mt-4">
            <div class="col-10 offset-1 bg-info box-circle">
                <h3 class="text-center pt-2" id="eye-icon">あなたの貯金額
                <%=link_to mypage_path, class: "ps-1", remote: true do%>
                    <i class="fa-regular fa-eye" style="color: #2c2c30;"></i>
                <%end%>
                </h3>

                <div class="mt-3 px-2 col-auto col-10 offset-1 bg-light-yellow box-circle" id="your-money">
                    <p class="fs-2 text-center"><%=@user.money%>円</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-10 offset-1 bg-info box-circle">
                <%if @user.save_money==0%>
                <h3 class="text-center pt-2">目標金額</h3>
                <div class="mt-3">
                    <p class="fs-6 text-center">目標金額をまだ設定していません。<br>
                    <%=link_to "こちらから設定しましょう！", set_money_path%></p>
                </div>
                <%else%>
                <h3 class="text-center pt-2">目標貯金額まで</h3>
                <div class="mt-3 px-2 mx-auto  col-10 offset-1 col-auto bg-light-yellow box-circle">
                    <p class="fs-2 text-center">あと<span class="ps-3"><%=@diff_money%>円</span></p>
                </div>
                <%end%>
            </div>
        </div>

        <div class="row mt-4">
            <%=render 'public/spends/mypage', spends: @spends %>
        </div>
        <div class="row mt-4">
            <%=render 'public/incomes/mypage', incomes: @incomes %>
        </div>

        <div class="row mt-4">
            <div class="col-10 offset-1 bg-info box-circle">
                <h3 class="text-center pt-2">支出項目ごとの割合</h3>
                <%if @spend_ratio.nil?%>
                <p class="text-center">今月はまだ支出が記録されていないため、円グラフが表示できません。</p>
                <%else%>
                <div class="my-3 pb-2"><%= pie_chart @spend_ratio, donut: true, suffix: "％" %></div>
                <%end%>
            </div>
        </div>
    </div>
</div>
</div>