<%=render 'layouts/public'%>

<div class="container">
<div class="row d-flex justify-content-center">

    <div class="col-12 col-md-10 mt-5 bg-light bg-circle py-5">
        <h1 class="text-center">目標金額を設定する</h1>

        <div class="row mt-5 justify-content-center">
            <div class="col-10 bg-info bg-radius-10">
                <h2 class="text-center pt-3">目標金額の設定フォーム</h2>
                <%=render 'public/shared/flash'%>
            <%=form_with model: @user, url: set_save_money_path, method: :patch, class:"row justify-content-center" do |f|%>
                <div class="field mb-4 col-10">
                    <%= f.label :save_money, "目標金額", class: "pb-1" %><br />
                    <%= f.number_field :save_money, autocomplete: "save_money", class: "form-control" %>
                </div>

                <div class="actions mb-4 text-center">
                    <%=f.submit "設定する", class: "btn btn-dark col-7"%>
                </div>
            <%end%>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-10 bg-info bg-radius-10">
                <p class="pt-3 text-center">貯金するモチベーションを上げるために目標金額を設定しましょう！<p>
                <p class="text-center">目標金額が決められない方は以下のツールを利用してみてください!</p>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-10 bg-info bg-radius-10">
                <h2 class="pt-3 text-center">目標決定ツール</h2>

                <p class="pt-2 text-center">以下の項目に入力して、最適な目標貯金額を知ろう！</p>

                <%=render 'public/shared/flash'%>

                <%=form_with model: @user, url: create_money_path, method: :post, local: false, class:"row justify-content-center" do |f|%>
                    <div class="field mb-4 col-10">
                        <%= f.label :income, "月の収入", class: "pb-1" %><br />
                        <%= f.number_field :income, autocomplete: "income", class: "form-control" %>
                    </div>
                    <div class="field mb-4 col-10">
                        <%= f.label :bonus, "ボーナス（年2回を想定）", class: "pb-1" %><br />
                        <%= f.number_field :bonus, autocomplete: "bonus", class: "form-control" %>
                    </div>
                    <%if @user.is_smoker%>
                    <div class="field mb-4 col-10">
                        <%= f.label :smoke, "月のタバコ代", class: "pb-1" %><br />
                        <%= f.number_field :smoke, autocomplete: "smoke", class: "form-control" %>
                    </div>
                    <%end%>
                    <div class="field mb-4 col-10">
                        <div class="mb-1">貯金する期間</div>
                        <div class="row mb-4">
                            <div class="col-auto">
                                <%= f.radio_button :time, 0, class:"pb-2" %>
                                <%= f.label :time_0, "1ヶ月", class:"pb-2" %><br>
                                <%= f.radio_button :time, 2, class: "pb-2"%>
                                <%= f.label :time_2, "半年(6ヶ月)", class: "pb-2" %><br>
                                <%= f.radio_button :time, 4, class: "pb-2"%>
                                <%= f.label :time_4, "3年", class: "pb-2" %>
                            </div>
                            <div class="col-3 offset-1">
                                <%= f.radio_button :time, 1, checked: "checked", class: "pb-2"%>
                                <%= f.label :time_1, "3ヶ月", class:"pb-2" %><br>
                                <%= f.radio_button :time, 3, class: "pb-2"%>
                                <%= f.label :time_3, "1年間", class: "pb-2"%><br>
                                <%= f.radio_button :time, 5%>
                                <%= f.label :time_5, "5年", class: "pb-2" %>
                            </div>
                        </div>

                        <div class="field mb-4">
                            <div class="mb-1">貯金の程度</div>
                            <%= f.radio_button :degree, 0, class:"pb-2" %>
                            <%= f.label :degree_0, "少しだけの貯金でいい", class:"pb-2" %><br>
                            <%= f.radio_button :degree, 1, checked: "checked", class: "pb-2"%>
                            <%= f.label :degree_1, "無理しない程度で貯金したい", class:"pb-2" %><br>
                            <%= f.radio_button :degree, 2%>
                            <%= f.label :degree_2, "少し我慢をしてでも貯金したい" %>
                        </div>

                        <div class="actions mb-4 text-center">
                            <%=f.submit "目標金額を出力する", class: "btn btn-dark col-7"%>
                        </div>
                    </div>
                <%end%>

            </div>
        </div>
        
        <div class="row mt-4 justify-content-center">
            <div class="col-10 py-5 bg-info bg-radius-10" id="result">
                <%=render 'public/users/result_money', result: @result%>
            </div>
        </div>

    </div>
    
</div>
</div>