<footer class="bg-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="mb-0">貯金で余裕のあるくらしを</p>
          <%= image_tag 'rec_logo.jpg', :size =>'240x60' %>
        <p class="mb-0">© HESOKURI</p>
      </div>
      <div class="col-md-2 mt-md-0 mt-2">
      </div>
      <div class="col-md-3 mt-md-0 mt-3"> 
        <h6 class="mb-3">Support</h6>
        <ul class="p-0">
          <li><%=link_to "About", root_path, class: "text-light"%></li>
          <li class="pt-2"><%=link_to "使い方", root_path, class: "text-light"%></li>
          <li><a href="https://hitori-times.com/contact-form/" title="contact" class="text-dark">問い合わせ(ブログへ遷移します)</a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <h6 class="mb-3">Information</h6>
        <ul class="p-0">
          <li>
            <a href="<%=organization_path%>" title="About" class="text-light">組織について</a>
          </li>
          <li class="pt-2">
            <a href="<%=terms_of_use_path%>" title="Terms-of-Use" class="text-light">利用規約</a>
          </li>
          <li class="pt-2">
            <a href="<%=privacy_path%>" title="informations" class="text-light">プライバシーポリシー</a>
          </li>
          <li class="pt-2">
            <%=link_to "退会はこちらから", confirm_unsubscribed_path, class: "text-light"%>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

