<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Peculiss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0ea4f70a08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-secondary">
    <%= yield %>
    <%=render 'layouts/footer'%>
  </body>

  <%if admin_signed_in? && !user_signed_in?%>
    <script>
      $(function(){
        $("footer").html('<%=j(render 'layouts/admin_footer')%>')
      });
    </script>
  <%end%>
</html>
